* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Rubik Mono One', sans-serif;
}


body > div {
    width: 100%;
    height: 100vh;
}

.first-pairs {
    background-color: ;
}